<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Story</title>
</head>

<body>
    <nav>
        <div class="navbar">
          <a class="navbar-brand" href="#">INDIAN FOOD EDA</a>
          <ul class="navbar-nav">
            <li class="nav-item home">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item about">
              <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item exploration">
              <a class="nav-link" href="/exploration">EXPLORATION</a>
            </li>
            <li class="nav-item dashboard">
              <a class="nav-link" href="/dashboard">DASHBOARD</a>
            </li>
            <li class="nav-item report">
              <a class="nav-link" href="/report">REPORT</a>
            </li>
            <li class="nav-item story">
              <a class="nav-link" href="/story">STORY</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <h2>Story</h2>
        <p>Indulge in the captivating narratives and cultural anecdotes that encapsulate the essence of Indian food. </p>
       
      </div>
      <div class="center">
       <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FIndian%2BFood%2BEda%2Bstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000018b7b17267e_00000002&amp;sceneTime=0" width="1280" height="600" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
      </div>
    </body>
    
    </html>